@{
    ViewBag.Title = "About";
}
@section Meta
{
    <meta name="description" content="Unit Design has manufactured high quality machines for cleaning and soldering since 1985.">
}
<h1>Company Profile</h1>

<p>Unit Design has always strived to be at the forefront of technical innovation and has consistently produced a top rated product line of Automatic Soldering Machines, Tinning Machines, and Aqueous Batch Cleaners.</p>
<p>
    Unit Design was founded in 1985 as a supplier of soldering and tinning machines to the circuit board industry. With customers in the United States, Canada, Mexico, Europe and the Far East, our soldering and
    tinning machines have been the mainstay of our company for over 25 years.
</p>
<p>
    With the advent of the Montreal Protocol, Unit Design developed its first Aqueous Batch Cleaner. Unit Design was awarded the 1993 Surface Mount Vision Award in the cleaning category; and our batch cleaners
    were rated the #1 aqueous cleaning system in 1994 tests performed by NASA. We have taken the best of these first machines and with our talented engineering team and customer input are producing the finest
    batch cleaners in the industry.
</p>
<p>
    In 2000, Unit Design was purchased by its employees ensuring the continuation of its commitment to the building of quality machines, and to unparalleled customer service. We continue to look for ways to improve
    our products, and to provide excellent service to our customers.
</p>

<h2>Our Customers</h2>
<p>Since 1985, Unit Design has been meeting the soldering, tinning and cleaning needs of some of the United States' and the world's biggest companies.</p>
<p>Our customers include:</p>
<ul>
    <li>Agilent Technologies</li>
    <li>Arcom</li>
    <li>BAE Systems</li>
    <li>Boeing</li>
    <li>Bourns</li>
    <li>Dialight</li>
    <li>Eaton</li>
    <li>Esterline Power Systems</li>
    <li>GE Healthcare</li>
    <li>Hewlett Packard</li>
    <li>Honeywell</li>
    <li>IBM</li>
    <li>Invensys</li>
    <li>Lockheed-Martin</li>
    <li>Maxim Integrated Products</li>
    <li>MIT-Lincoln Laboratory</li>
    <li>Pacific Scientific</li>
    <li>Powerwave Technologies</li>
    <li>Raytheon</li>
    <li>Teledyne Technologies</li>
    <li>Texas Instruments</li>
    <li>Vishay Dale</li>
    <li>Vishay Tansitor</li>
</ul>

<h2>Our Mission</h2>
<p>To engineer, build, sell and support the world’s finest aqueous batch cleaning, inspection, drag soldering, and tinning systems.</p>

