
@{
    ViewBag.Title = "ContactSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Form Submitted</h2>
<p>
    Your email request has been sent successfully. Thank you for your feedback.
</p>

